@charset "UTF-8";

@media all
{
	body
	{
		font-family: serif;
		color: rgb(64, 164, 113);
		background-color: white;
	}
	
	.aa
	{
		font-family: "ＭＳ ゴシック", monospace;
		font-size: 2em;
		line-height: 0.7em;
		letter-spacing: -0.4em;
	}
}
