@charset "UTF-8";

@media all
{

	a:link, a:visited
	{
		color: #4378B6;
	}

	a:hover, a:active
	{
		color: #62629F;
	}

	body
	{
		color: #40A471;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
		margin: 0px;
		padding: 1em;
		width: 93%;
	}

	h1
	{
		margin: 0px;
		font-size: 150%;
	}

	h2
	{
		border-top: #FFF6C7 3px dotted;
		margin: 0px;
	}

	h3
	{
		margin: 0px;
	}

	input, select
	{
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	}

	input.text, select
	{
		border: 2px #4378B6 solid;
		font-size: 115%;
	}

	input.submit
	{
		background-color: #4378B6;
		border-style: none;
		color: White;
		font-size: 150%;
		margin: 1ex;
		padding: 1ex 1em;
		cursor: pointer;
	}

	ul#mainMenu
	{
		margin: 0px;
	}

	ul#mainMenu li a:link, ul#mainMenu li a:visited
	{
		color: White;
		background-color: #4378B6;
	}

	ul#mainMenu li a:hover, ul#mainMenu li a:active
	{
		color: White;
		background-color: #62629F;
	}

	ul#mainMenu li a
	{
		display :block;
		color: White;
		float: left;
		width: 100%;
		height: 100%;
		padding: 1em;
		vertical-align: bottom;
	}

	ul#mainMenu li
	{
		float: left;
		margin: 5%;
		width: 20%;
		height: 6em;
		list-style-type: none;
		vertical-align: bottom;
	}

	p#version
	{
		padding-top: 1em;
		clear: both;
	}
}
